@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap")
@tailwind base
@tailwind components
@tailwind utilities

@layer base
    $main-color: 220
    $primary: hsl($main-color, 70%, 60%)
    $secondary: hsl($main-color, 70%, 60%)
    $alt: hsl($main-color, 58%, 54%)
    $lighter: hsl($main-color, 92%, 85%)
    $title: hsl($main-color, 8%, 15%)
    $text: hsl($main-color, 8%, 45%)
    $text-light: hsl($main-color, 8%, 65%)
    $text-white: #FFF
    $lighter: hsl($main-color, 92%, 85%)
    $input: hsl($main-color, 70%, 95%)
    $body: hsl($main-color, 60%, 95%)
    $container: #FFF

    *
        box-sizing: border-box
        padding: 0
        margin: 0

    html
        scroll-behavior: smooth !important

    body
        font-family: 'Poppins', sans-serif
        color: $text!important
        @apply bg-slate-100 text-slate-800 tracking-wide

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        @apply  font-semibold
    h1
        @apply text-4xl sm:text-5xl md:text-6xl

    h2
        @apply text-3xl sm:text-4xl md:text-5xl

    li
        @apply cursor-pointer
    .button
        @apply inline-block p-3 md:p-4 rounded-lg font-medium shadow-xl shadow-gray-400 dark:shadow-gray-800 uppercase
        background-color: $primary
        color: $text-white
    .button:hover
        background-color: $alt
    .button__icon
        @apply text-2xl ml-2 duration-300
    .button-flex
        @apply inline-flex items-center
    img
        max-width: 100%
        height: auto
    .z-tooltip
        z-index: 10

    .z-fixed
        z-index: 100

    .z-modal
        z-index: 100
    /* ** Blog ** */
    .blog_title
        @apply text-2xl mt-8 font-extrabold tracking-tight text-slate-700 dark:text-slate-200 md:text-4xl
    .blog_subtitle
        @apply text-lg font-bold sm:text-xl md:text-2xl text-slate-600 dark:text-slate-200 pt-12 pb-2
    .blog__header-contact
        color: $primary
        hover:$secondary
    .blog__content
        @apply py-12
        .dark &
            color: #f1f5f9 !important // text-slate-100
    .blog__content-title
        @apply text-lg font-bold sm:text-xl md:text-2xl text-slate-600 dark:text-slate-200 mb-2
    .blog__content-link-list
        @apply list-disc list-inside text-lg
    .blog__content-link-bullet
        @apply text-slate-400
    .blog__content-link
        @apply text-gray-500 hover:text-gray-800 underline
        color: $primary
    /* ** Blog ** */
    .section
        @apply dark:bg-slate-800 dark:text-slate-200 px-4 py-16
    .section__title
        @apply text-center text-4xl mb-6 sm:text-5xl md:text-6xl dark:text-slate-300
    .section__subtitle
        @apply text-center block mb-3 text-2xl sm:text-3xl md:text-2xl dark:text-slate-200
    .header
        @apply w-full fixed bottom-0 left-0 z-20 md:top-0 md:bottom-auto
        background-color: $body
        @apply dark:bg-slate-900 dark:border-b dark:border-slate-700
    .nav
        @apply flex max-w-5xl justify-between items-center h-12 md:h-16 md:gap-4
        @apply dark:bg-slate-900
    .nav__buttons
        @apply flex items-center mx-6 mt-2 md:order-2 md:mt-0
    .nav__logo, .nav__toggle
        @apply font-medium
        color: $title
        @apply dark:text-slate-100
    .nav__logo:hover
        color: $primary
        @apply dark:text-blue-400
    .nav__toggle
        @apply text-lg cursor-pointer md:hidden
        @apply dark:text-slate-100
    .nav__toggle:hover
        color: $primary
    .nav__menu
        @apply fixed -bottom-full left-0 w-full pt-8 px-0 pb-12 border rounded-t-3xl shadow-top duration-300 bg-slate-100 md:ml-auto md:bottom-auto md:shadow-none md:border-none md:w-auto md:bg-transparent md:contents
        @apply dark:bg-slate-900 dark:border-slate-700
    .nav__list
        @apply grid grid-cols-3 gap-6 md:flex md:gap-8
    .nav__link
        @apply flex flex-col items-center text-sm font-medium
        color: $title
        @apply dark:text-slate-100
    .nav__link:hover
        color: $primary
        @apply dark:text-blue-400
    .nav__link-active
        color: $primary
        @apply dark:text-blue-400
    .nav__icon
        @apply text-base md:hidden
    .nav__close
        @apply absolute right-0 bottom-2 mx-5 text-2xl cursor-pointer md:hidden
        color: $primary
        @apply dark:text-slate-100
    .nav__close:hover
        color: $alt
        @apply dark:text-red-400
    .nav__toggle-darktheme
        @apply text-xl mr-4 cursor-pointer
        color: $title
        @apply dark:text-yellow-300
    .nav__toggle-darktheme:hover
        color: $primary
        @apply dark:text-yellow-400
    .show-menu
        @apply bottom-0 md:bottom-auto
    .scrollup
        @apply fixed right-4 -bottom-1/4 opacity-80 p-2 rounded-lg z-50 duration-500
        background-color: $primary
    .scrollup:hover
        background-color: $alt
    .scrollup-show
        @apply bottom-20
    .scrollup-show-menu
        @apply bottom-48
    .scrollup__icon
        @apply text-2xl text-slate-50
    /* ** Hero ** */
    .hero__container
        @apply gap-4 md:mx-auto
    .hero__content
        @apply pt-14 items-center md:grid-cols-8 md:pt-32
    .hero__social
        @apply grid auto-cols-max gap-4 md:col-span-1
    .hero__social-icon
        @apply text-lg
        color: $primary
    .hero__social-icon:hover
        color: $alt
    .hero__img
        @apply place-self-center md:col-span-4 md:order-1
    .hero__blob
        @apply w-52 md:w-96
        fill: $primary
    .hero__blob-img
        @apply w-[360px]
    .hero__data
        @apply col-span-2 mt-4 md:col-span-3
    .hero__title
        @apply text-4xl text-slate-700 md:text-7xl dark:text-slate-300
    .hero__subtitle
        @apply text-xl font-medium mb-3 md:text-2xl md:mb-20 dark:text-slate-200
        color: $text  
    .hero__description
        @apply mb-8 md:text-xl
    .hero__button
        @apply inline-flex w-auto
    .hero__scroll
        @apply hidden grid-cols-8 md:grid
    .hero__scroll-button
        @apply duration-300 mt-12 col-span-3 col-start-2
        color: $primary
    .hero__scroll-button:hover
        @apply translate-y-1
    .hero__scroll-mouse
        @apply text-3xl
    .hero__scroll-name
        @apply text-sm font-medium mr-1
        color: $title
    .hero__scroll-arrow
        @apply text-xl
    /* ** Hero ** */
    /* ** About ** */
    .about__container
        @apply container grid md:mx-auto md:mt-4 md:gap-96 md:flex-col md:grid-flow-col
    .about__img
        @apply w-52 rounded-lg justify-self-center self-center md:w-96
    .about__data
        @apply md:w-96
    .about__description
        @apply text-center my-9 md:text-start
    .about__info
        @apply flex justify-evenly mb-9 md:justify-between
    .about__info-title
        @apply font-semibold text-2xl
        color: $title
    .about__info-name
        @apply text-sm px-2
    .about__info-title, .about__info-name
        @apply block text-center
    .about__buttons
        @apply flex justify-center
    /* ** About ** */
    /* ** Skills ** */
    .skills__container
        @apply gap-y-0 md:mx-auto md:gap-8 md:flex-col md:grid-flow-col
    .skills__header
        @apply flex items-center mb-9 cursor-pointer
    .skills__open
        @apply h-max mb-10
    .skills__open .skills__down-arrow
        @apply -rotate-180
    .skills__close .skills__list
        @apply h-0 overflow-hidden
    .skills__icon, .skills__down-arrow
        @apply text-4xl
        color: $primary
    .skills__icon
        @apply mr-3
    .skills__header-title
        @apply text-xl
    .skills__header-subtitle
        @apply text-sm
        color: $text-light
    .skills__down-arrow
        @apply ml-auto duration-500 text-3xl
    .skills__list
        @apply gap-5 pl-11
    .skills__title
        @apply flex justify-between mb-2
    .skills__name
        @apply text-base font-medium
    .skills__bar, .skills__percentage
        @apply h-1 rounded
    .skills__bar
        background-color: $lighter
    .skills__percentage
        @apply block
        background-color: $primary
    .skills__html
        width: 90%
    .skills__css
        width: 90%
    .skills__js
        width: 90%
    .skills__reactjs
        width: 60%
    .skills__php
        width: 90%
    .skills__node
        width: 70%
    .skills__mysql
        width: 80%
    .skills__laravel
        width: 90%
    .skills__git
        width: 80%
    .skills__docker
        width: 20%
    .skills__linux
        width: 70%
    .skills__mongo
        width: 70%
    /* ** Skills ** */
    /* ** Projects ** */
    .projects__container
        @apply flex-initial md:mx-auto
    .projects__content
        @apply px-16 md:px-8 md:gap-8 md:flex-col md:grid-flow-col
    .projects__img
        @apply w-4/5 h-52 rounded-lg justify-self-center md:h-64
    .projects__data
        @apply w-4/5 justify-self-center md:w-96
    .projects__container-swiper .swiper
        @apply pb-12 md:pb-60
    .projects__title
        @apply text-lg mb-2
    .projects__description
        @apply mb-3 text-sm text-slate-600
    .projects__button:hover .button__icon
        @apply translate-x-1
    .swiper .swiper-button-prev, .swiper .swiper-button-next
        color: $primary!important
    .swiper .swiper-pagination-bullet-active
        background-color: $primary!important
    .swiper .swiper-button-prev::after, .swiper .swiper-button-next::after
        @apply text-2xl
    /* ** Projects ** */
    /* ** Blogs ** */
    .blogs__container
        @apply grid gap-8 mb-4 md:mx-auto md:grid-cols-2
    .blogs__img
        @apply w-7 h-7 rounded-full
    .blogs__author-text
        @apply font-light
    /* ** Blogs ** */
    /* ** Contact ** */
    .contact__container
        @apply gap-y-0 md:mx-auto md:gap-8 md:flex-col md:grid-flow-col
    .contact__information
        @apply flex mb-4
    .contact__button
        @apply mt-4
    .contact__icon
        @apply text-3xl mr-3 self-center
        color: $primary
    .contact__title
        @apply text-lg
    .contact__subtitle
        @apply text-sm text-slate-500
    .contact__form
        @apply mb-4
    .contact__content
        @apply flex flex-col rounded-lg px-4 py-2 my-2
        background-color: $input
    .contact__label
        @apply text-sm -order-1
        color: $title
    .contact__input
        @apply w-full text-base border-none outline-none
        background-color: $input
        color: $text
        padding: .25rem .5rem .5rem 0rem
    .contact__input:focus + .contact__label
        @apply text-xs
    /* ** Contact ** */
    /* ** Footer ** */
    .footer
        @apply pt-0
    .footer__container
        @apply gap-y-14
    .footer__bg
        @apply pt-8 px-8 pb-12
        background-color: $secondary
    .footer__title
        @apply text-xl mb-1
    .footer__subtitle
        @apply text-sm
    .footer__links
        @apply flex flex-col gap-y-6
    .footer__link:hover
        color: $lighter
    .footer__social
        @apply text-xl mr-6
    .footer__social:hover
        color: $lighter
    .footer__copy
        @apply text-sm text-center mt-12
        color: $text-light
    .footer__title, .footer__subtitle, .footer__link
        @apply text-slate-50
    /* ** Footer ** */